.abovePost {
    display: flex;
    flex: 0.8;
   margin-top: 20px;
   justify-content: space-between;
   margin-left: 140px;
  
  
  }
.line{
    border-bottom: 1px solid white;
    width: 550px;
}
.RightProfile{
    position:fixed;
    justify-content: right;
    margin-right: 100px;
    margin-top: 15px;
}
  
  
 