.ProfileHeader{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: 25px;
    z-index: 1;
    padding:1rem;
   
}

.pfp{
    padding:1rem;
    margin-right: 50px;
}
.ProfileSettings{

}
.ProfileValues{

}
.profileInfo{
    display: flex;
}